.aboutpg {
	#aboutoverlay{
		background: $dark;
		color: $cream;
		font-family: $paragraph;
		padding-top: 20px;
		padding-bottom: 20px;
		@include breakpoint($medium){
			background: rgba($dark, .8);
			position: absolute;
			min-height: 100vh;
			top: 0;
			left: 0;
			z-index: 10;
			@include span(3);
			@include pre(2);
		}
		@include breakpoint($large){
			@include span(2);
		}
		.overlayinner{
			@include container(85%);
			h3{
				font-size: 2rem;
				line-height: 140%;
				font-family: $serif;
				margin-bottom: 20px;
			}
			p{
				margin-bottom: 20px;
				line-height: 140%;
			}
		}
	}
	.marcpicture {
		@include breakpoint($medium){
			@include bgImage('../images/marclarge.jpg');
			position: fixed;
			z-index: 0;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			img {
				display: none;
			}
		}
	}
}