.chocolatepg{
	@include breakpoint($medium){
		@include span(10);
		@include pre(2);
	}
	.product{
		@include breakpoint(0 $small){
			@include with-layout(12 .5 split){
				@include span(12);
			}
		}
		@include breakpoint($small){
			@include span(6);
		}
		@include breakpoint($medium){
			@include span(4);
		}
		height: 250px;
	    height: 30vh;
	    padding: 0;
	    border: 5px solid transparent;
	    overflow: hidden;
	    position: relative;
	    .iteminner {
		    height: 100%;
		    background-size: cover;
		    background-position: center center;
		    overflow: hidden;
		    background-color: #fff;
		    .overlay {
		    	position: absolute;
		    	@include background-image(linear-gradient(bottom, rgba($dark, .95), rgba($dark, .2)));
		    	@include single-transition(all, .3s, ease-in-out);
		    	top: 0;
		    	right: 0;
		    	bottom: 0;
		    	left: 0;
		    	color: $cream;
		    	text-align: center;
		    	padding: 10px 20px;
		    	@include breakpoint($medium){
		    		background: rgba($dark, .8);
		    		visibility: hidden;
		    		@include translateX(500px);
		    		opacity: 0;
		    	}
		    	h3 {
		    		font-family: $cursive;
		    		font-size: 2.3rem;
		    		line-height: 200%;
		    	}
		    	p {
		    		font-family: $paragraph;
		    		font-size: .875rem;
		    		line-height: 150%;
		    	}
		    	img {
		    		width: auto;
		    		margin-bottom: 20px;
		    	}
		    }
		}
		&:hover {
			.overlay {
				@include breakpoint($medium){
					visibility: visible;
		    		@include translateX(0);
		    		opacity: 1;
		    	}
			}
		}
	}
}