.sideNav {
	background: $light;
	z-index: 9999;
	@include single-transition(all, .3s, ease-in);
	@include box-shadow($dark 0px 8px 12px);
	&:hover {
		background: rgba($light, 1);
	}
	#navIcon{
		width: 50px;
		height: 50px;
		background: $light;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: -50px;
		line-height: 50px;
		text-decoration: none;
		text-align: center;
		a{
			text-decoration: none;
			font-size: 2rem;
		}
		@include breakpoint($medium){
			display: none;
		}
	}
	.navinner {
		width: 95%;
		margin: 0 auto;
	}
	@include breakpoint($medium){
		background: rgba($light, .8);
		-webkit-transform: translateX(0px) !important;
		-moz-transform: translateX(0px) !important;
		-ms-transform: translateX(0px) !important;
		transform: translateX(0px) !important;
		-webkit-transform: translateX(0px) !important;
	}
	.slimScrollDiv{
		margin-top: 150px;
		.side-nav {
			font-family: $serif;
			li {
				width: 100%;
				a {
					width: 100%;
					line-height: 400%;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					border-bottom: 1px dotted $dark;
					color: $dark;
					@include single-transition(all, .2s, ease-in);
					&:hover {
						background: $darkred;
						color: $light;
					} //:hover
				} // a
				&:last-child a {
					border-bottom: none;
				} // a:last-child
				.submenu {
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: $light;
					z-index: 10;
					width: 100%;
					@include translateX(-500px);
					visibility: hidden;
					@include single-transition(all, .5s, ease-in);
				}
				.subout {
					@include translateX(-10px);
					@include box-shadow(3px 0 12px rgba($dark, .8));
				}
			} // li
		} // side-nav
	}
	&.navout {
		-webkit-transform: translateX(0px) !important;
		-moz-transform: translateX(0px) !important;
		-ms-transform: translateX(0px) !important;
		transform: translateX(0px) !important;
		-webkit-transform: translateX(0px) !important;
	}
	.social {
		font-family: $fontawesome;
		margin-top: 50px;
		width: 100%;
		text-align: center;
		a{
			text-decoration: none;
			color: $darkred;
			font-size: 2.2rem;
			display: inline-block;
			padding: 5px;
		}
	}
}
.subvisible {
	background: $light;
	.side-nav li a {
		border-color: transparent;
	}
}