.sideNav {
	background: $light;
	@include single-transition(all, .3s, ease-in);
	@include box-shadow($dark 0px 8px 12px);
	&:hover {
		background: rgba($light, 1);
	}
	.navinner {
		width: 95%;
		margin: 0 auto;
	}
	@include breakpoint($medium){
		background: rgba($light, .7);
	}
	.slimScrollDiv{
		margin-top: 200px;
		.side-nav {
			font-family: $serif;
			li {
				width: 100%;
				a {
					width: 100%;
					line-height: 400%;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					border-bottom: 1px dotted $dark;
					color: $dark;
					@include single-transition(all, .2s, ease-in);
					&:hover {
						background: $darkred;
						color: $light;
					} //:hover
				} // a
				&:last-child a {
					border-bottom: none;
				} // a:last-child
			} // li
		} // side-nav
	}
}