.sideNav {
	background: rgba($light, .7);
	@include single-transition(all, .5s, ease-in, 0);
	&:hover {
		background: rgba($light, 1);
	}
}

.side-nav {
	margin-top: 200px;
	font-family: $serif;
	li {
		width: 100%;
		a {
			width: 100%;
			line-height: 400%;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px dotted $dark;
			color: $dark;
			@include single-transition(all, .3s, ease-in, 0);
			&:hover {
				background: $darkred;
				color: $light;
			} //:hover
		} // a
		&:last-child a {
			border-bottom: none;
		} // a:last-child
	} // li
} // side-nav