@import url(http://fonts.googleapis.com/css?family=ABeeZee|Great+Vibes|Jacques+Francois|Jacques+Francois+Shadow);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("../images/headerbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 5px solid #731c20;
}

span.icon {
  font-family: FontAwesome;
}

img {
  width: 100%;
  max-width: 100%;
}

.contentinner .logopanel {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 10px solid #731c20;
  -moz-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  -webkit-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
}
.contentinner .logopanel:before, .contentinner .logopanel:after {
  content: '';
  display: table;
}
.contentinner .logopanel:after {
  clear: both;
}
@media (min-width: 960px) {
  .contentinner .logopanel {
    display: none;
    margin-top: 200px;
    padding: 50px;
    border: 10px solid #731c20;
    -moz-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
    -webkit-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
    box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    margin-left: 16.66667%;
  }
}
.contentinner .logopanel .mainlogo {
  width: 60%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .contentinner .logopanel .mainlogo {
    width: 30%;
  }
}
@media (min-width: 960px) {
  .contentinner .logopanel .mainlogo {
    width: 100%;
  }
}

.burger {
  font-family: FontAwesome !important;
}
@media (min-width: 960px) {
  .burger {
    display: none !important;
  }
}

.sideNav {
  height: 1000px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  -moz-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
  visibility: hidden;
  z-index: 999;
}
@media (min-width: 960px) {
  .sideNav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    visibility: visible;
    z-index: auto;
  }
}

.pgcontent {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
@media (min-width: 960px) {
  .pgcontent {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    margin-left: 16.66667%;
  }
}
.pgcontent .contentinner {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
.pgcontent .contentinner:after {
  content: " ";
  display: block;
  clear: both;
}

.sideNav {
  background: #fff;
  z-index: 9999;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -moz-box-shadow: #090909 0px 8px 12px;
  -webkit-box-shadow: #090909 0px 8px 12px;
  box-shadow: #090909 0px 8px 12px;
}
.sideNav:hover {
  background: white;
}
.sideNav #navIcon {
  cursor: pointer;
  position: absolute;
  top: 0;
  text-decoration: none;
  text-align: center;
}
.sideNav #navIcon a {
  text-decoration: none;
  font-size: 2rem;
}
@media (min-width: 960px) {
  .sideNav #navIcon {
    display: none;
  }
}
.sideNav .navinner {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .sideNav {
    background: rgba(255, 255, 255, 0.8);
    -webkit-transform: translateX(0px) !important;
    -moz-transform: translateX(0px) !important;
    -ms-transform: translateX(0px) !important;
    transform: translateX(0px) !important;
    -webkit-transform: translateX(0px) !important;
  }
}
.sideNav #navscroll {
  margin-top: 150px;
}
.sideNav #navscroll .side-nav {
  font-family: "Jacques Francois", serif;
}
.sideNav #navscroll .side-nav li {
  width: 100%;
}
.sideNav #navscroll .side-nav li a {
  width: 100%;
  line-height: 400%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #090909;
  color: #090909;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.sideNav #navscroll .side-nav li a:hover {
  background: #731c20;
  color: #fff;
}
.sideNav #navscroll .side-nav li:last-child a {
  border-bottom: none;
}
.sideNav #navscroll .side-nav li .submenu {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  width: 100%;
  -moz-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
  visibility: hidden;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.sideNav #navscroll .side-nav li .subout {
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  -moz-box-shadow: 3px 0 12px rgba(9, 9, 9, 0.8);
  -webkit-box-shadow: 3px 0 12px rgba(9, 9, 9, 0.8);
  box-shadow: 3px 0 12px rgba(9, 9, 9, 0.8);
}
.sideNav.navout {
  -webkit-transform: translateX(0px) !important;
  -moz-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  transform: translateX(0px) !important;
  -webkit-transform: translateX(0px) !important;
}
.sideNav .social {
  font-family: FontAwesome;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.sideNav .social a {
  text-decoration: none;
  color: #731c20;
  font-size: 2.2rem;
  display: inline-block;
  padding: 5px;
}

.subvisible {
  background: #fff;
}
.subvisible .side-nav li a {
  border-color: transparent;
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: -3.6rem;
  text-align: center;
}

.lines-button {
  float: right;
  margin-top: 3px;
  padding: 1.2rem 0.6rem 1.6rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.24rem;
  background: rgba(9, 9, 9, 0.8);
  box-shadow: none;
  border: none;
}
.lines-button:hover {
  opacity: 1;
  background: rgba(9, 9, 9, 0.8);
  box-shadow: none;
  border: none;
}
.lines-button:active {
  transition: 0;
  background: rgba(9, 9, 9, 0.8);
  background: none;
  box-shadow: none;
  border: none;
}
.lines-button.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/
}
.lines-button.close .lines:before, .lines-button.close .lines:after {
  transform-origin: 50% 50%;
  top: 0;
  width: 2.4rem;
}
.lines-button.close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.lines {
  display: inline-block;
  width: 2.4rem;
  height: 0.24rem;
  background: #fff;
  border-radius: 0.17143rem;
  transition: 0.3s;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2.4rem;
  height: 0.24rem;
  background: #fff;
  border-radius: 0.17143rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 0.17143rem center;
}
.lines:before {
  top: 0.6rem;
}
.lines:after {
  top: -0.6rem;
}

.home-page #navIcon {
  display: none !important;
}

.homepg {
  position: relative;
}
.homepg:before, .homepg:after {
  content: '';
  display: table;
}
.homepg:after {
  clear: both;
}
@media (min-width: 960px) {
  .homepg {
    height: 100vh;
  }
}
.homepg .logopanel {
  display: block;
}
@media (min-width: 960px) {
  .homepg .logopanel {
    display: none;
  }
}
.homepg .slideouter {
  height: 300px;
  height: 30vh;
  position: relative;
  overflow: hidden;
}
@media (min-width: 960px) {
  .homepg .slideouter {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.homepg .slideouter .slider {
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.homepg .slideouter .slider .slide {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.homepg .slideouter .slider .slide .text {
  background: rgba(9, 9, 9, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #ffefd3;
}
@media (min-width: 960px) {
  .homepg .slideouter .slider .slide .text {
    right: auto;
    background: rgba(9, 9, 9, 0.8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
  }
}
.homepg .slideouter .slider .slide .text .textinner {
  padding: 1em;
  text-align: center;
}
@media (min-width: 960px) {
  .homepg .slideouter .slider .slide .text .textinner {
    text-align: left;
  }
}
.homepg .slideouter .slider .slide .text .textinner h3 {
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
}
.homepg .slideouter .slider .slide .text .textinner p {
  font-family: "Jacques Francois", serif;
  font-size: 1.2rem;
}
@media (min-width: 960px) {
  .homepg .slideouter .slider .slide .text .textinner p {
    font-size: 2.2rem;
  }
}
.homepg .homemenu {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  display: block;
}
@media (min-width: 960px) {
  .homepg .homemenu {
    display: none;
    position: absolute;
    top: 200px;
    width: 100%;
    height: 450px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    margin-left: 16.66667%;
  }
  .homepg .homemenu:before, .homepg .homemenu:after {
    content: '';
    display: table;
  }
  .homepg .homemenu:after {
    clear: both;
  }
}
.homepg .homemenu .menuitem {
  text-decoration: none;
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -moz-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  -webkit-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  position: relative;
  border-bottom: 8px solid #731c20;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 30px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.homepg .homemenu .menuitem:last-child:nth-child(odd) {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
@media (min-width: 0) and (max-width: 960px) {
  .homepg .homemenu .menuitem {
    opacity: 1;
    z-index: auto;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  .homepg .homemenu .menuitem {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 5px 0;
    text-align: left;
  }
}
@media (min-width: 960px) {
  .homepg .homemenu .menuitem {
    border: 8px solid #731c20;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.homepg .homemenu .menuitem span.icon {
  font-size: 3rem;
  color: #311514;
}
@media (min-width: 650px) and (max-width: 960px) {
  .homepg .homemenu .menuitem span.icon {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    float: left;
    font-size: 6rem;
  }
}
@media (min-width: 960px) {
  .homepg .homemenu .menuitem span.icon {
    float: none;
    font-size: 20rem;
    margin-top: -150px;
    display: block;
    color: #731c20;
    text-shadow: 3px 3px 5px #000;
  }
}
.homepg .homemenu .menuitem .infogroup {
  margin-top: 10px;
}
@media (min-width: 650px) and (max-width: 960px) {
  .homepg .homemenu .menuitem .infogroup {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    float: right;
  }
}
@media (min-width: 960px) {
  .homepg .homemenu .menuitem .infogroup {
    float: none;
  }
}
.homepg .homemenu .menuitem .infogroup h2 {
  font-family: "Jacques Francois", serif;
  color: #311514;
  font-size: 1.3rem;
  line-height: 140%;
}
@media (min-width: 960px) {
  .homepg .homemenu .menuitem .infogroup h2 {
    font-family: "Jacques Francois Shadow", cursive;
    font-size: 4rem;
  }
}
.homepg .homemenu .menuitem .infogroup p {
  display: none;
}
@media (min-width: 650px) {
  .homepg .homemenu .menuitem .infogroup p {
    display: block;
    color: #311514;
    margin-top: 10px;
    font-family: "ABeeZee", sans-serif;
    font-size: .9rem;
    line-height: 140%;
  }
}
.homepg .hideme {
  opacity: 0;
  z-index: auto;
}
.homepg .showme {
  opacity: 1;
  z-index: 50;
}

@media (min-width: 960px) {
  .locationspg {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    margin-left: 16.66667%;
  }
}
.locationspg .map {
  display: none;
}
@media (min-width: 960px) {
  .locationspg .map {
    display: block;
  }
}
.locationspg #hook {
  height: 100px;
  width: 200px;
}
.locationspg img[src*="gstatic.com/"], .locationspg img[src*="googleapis.com/"] {
  max-width: none;
}
.locationspg #locationsoverlay {
  background: #090909;
  color: #ffefd3;
  font-family: "ABeeZee", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 90vh;
}
@media (min-width: 960px) {
  .locationspg #locationsoverlay {
    background: rgba(9, 9, 9, 0.8);
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    margin-left: 16.66667%;
  }
}
@media (min-width: 1140px) {
  .locationspg #locationsoverlay {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
  }
}
.locationspg #locationsoverlay .overlayinner {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.locationspg #locationsoverlay .overlayinner:after {
  content: " ";
  display: block;
  clear: both;
}
.locationspg #locationsoverlay .overlayinner h1 {
  font-family: "Jacques Francois", serif;
  line-height: 180%;
  font-size: 2rem;
  margin-bottom: 20px;
}
.locationspg #locationsoverlay .overlayinner .store p {
  margin-bottom: 20px;
  line-height: 140%;
  font-size: .875rem;
}
.locationspg #locationsoverlay .overlayinner .store a {
  text-decoration: none;
  color: #ffefd3;
}
.locationspg #locationsoverlay .overlayinner .store .divider {
  border-bottom: 1px solid #ffefd3;
  height: 1px;
  width: 25%;
  margin-bottom: 20px;
}
.locationspg #locationsoverlay .overlayinner .store:last-child .divider {
  display: none;
}

.aboutpg #aboutoverlay {
  background: #090909;
  color: #ffefd3;
  font-family: "ABeeZee", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 960px) {
  .aboutpg #aboutoverlay {
    background: rgba(9, 9, 9, 0.8);
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    margin-left: 16.66667%;
  }
}
@media (min-width: 1140px) {
  .aboutpg #aboutoverlay {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
  }
}
.aboutpg #aboutoverlay .overlayinner {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.aboutpg #aboutoverlay .overlayinner:after {
  content: " ";
  display: block;
  clear: both;
}
.aboutpg #aboutoverlay .overlayinner h3 {
  font-size: 2rem;
  line-height: 140%;
  font-family: "Jacques Francois", serif;
  margin-bottom: 20px;
}
.aboutpg #aboutoverlay .overlayinner p {
  margin-bottom: 20px;
  line-height: 140%;
}
@media (min-width: 960px) {
  .aboutpg .marcpicture {
    background: url("../images/marclarge.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .aboutpg .marcpicture img {
    display: none;
  }
}

.templatepg {
  background: rgba(255, 255, 255, 0.8);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -moz-box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  -webkit-box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  font-size: 1rem;
  line-height: 140%;
  font-family: "ABeeZee", sans-serif;
  position: relative;
}
@media (min-width: 960px) {
  .templatepg {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 5px solid #731c20;
  }
}
.templatepg .logopanel {
  margin-bottom: 10px;
}
.templatepg .usercontent {
  position: relative;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.templatepg .usercontent:after {
  content: " ";
  display: block;
  clear: both;
}
.templatepg .usercontent span.icon {
  font-size: 15rem;
  line-height: 15rem;
  color: #731c20;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  opacity: .15;
}
@media (min-width: 960px) {
  .templatepg .usercontent span.icon {
    opacity: 1;
    font-size: 8rem;
    position: fixed;
    line-height: 8rem;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.3);
    top: 20px;
    right: 125px;
  }
}
.templatepg .usercontent .textcontent {
  z-index: 5;
}
.templatepg .usercontent .textcontent h1 {
  font-family: "Jacques Francois", serif;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
@media (min-width: 960px) {
  .templatepg .usercontent .textcontent h1 {
    font-family: "Jacques Francois Shadow", cursive;
  }
}
.templatepg .usercontent .textcontent p {
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  .chocolatepg {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    margin-left: 16.66667%;
  }
}
.chocolatepg .heading h1 {
  font-family: "Jacques Francois", serif;
  font-size: 2rem;
  color: #731c20;
  margin-bottom: 1em;
}
.chocolatepg .heading p {
  font-family: "ABeeZee", sans-serif;
  font-size: 1em;
  color: #731c20;
  line-height: 160%;
  margin-bottom: 1em;
}
.chocolatepg .constrainpage {
  background: rgba(255, 255, 255, 0.8);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -moz-box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  -webkit-box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  font-size: 1rem;
  line-height: 140%;
  font-family: "ABeeZee", sans-serif;
  position: relative;
}
@media (min-width: 960px) {
  .chocolatepg .constrainpage {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 5px solid #731c20;
    padding-left: 1em;
    padding-right: 1em;
  }
}
.chocolatepg .product {
  height: 250px;
  height: 30vh;
  min-height: 250px;
  padding: 0;
  border: 5px solid transparent;
  overflow: hidden;
  position: relative;
}
@media (min-width: 0) and (max-width: 650px) {
  .chocolatepg .product {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
@media (min-width: 650px) {
  .chocolatepg .product {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}
@media (min-width: 960px) {
  .chocolatepg .product {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
  }
}
.chocolatepg .product .iteminner {
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  background-color: #fff;
}
.chocolatepg .product .iteminner .overlay {
  position: absolute;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5MDkwOSIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDkwOTA5IiBzdG9wLW9wYWNpdHk9IjAuMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(9, 9, 9, 0.95)), color-stop(100%, rgba(9, 9, 9, 0.2)));
  background-image: -moz-linear-gradient(bottom, rgba(9, 9, 9, 0.95), rgba(9, 9, 9, 0.2));
  background-image: -webkit-linear-gradient(bottom, rgba(9, 9, 9, 0.95), rgba(9, 9, 9, 0.2));
  background-image: linear-gradient(to top, rgba(9, 9, 9, 0.95), rgba(9, 9, 9, 0.2));
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffefd3;
  text-align: center;
  padding: 10px 20px;
}
@media (min-width: 960px) {
  .chocolatepg .product .iteminner .overlay {
    background: rgba(9, 9, 9, 0.8);
    visibility: hidden;
    -moz-transform: translateX(500px);
    -ms-transform: translateX(500px);
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
}
.chocolatepg .product .iteminner .overlay h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2.3rem;
  line-height: 200%;
}
.chocolatepg .product .iteminner .overlay p {
  font-family: "ABeeZee", sans-serif;
  font-size: .875rem;
  line-height: 150%;
}
.chocolatepg .product .iteminner .overlay img {
  width: auto;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  .chocolatepg .product:hover .overlay {
    visibility: visible;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.loginpg #loginbox {
  background: rgba(255, 255, 255, 0.8);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  margin-top: 20px;
  padding: 20px;
  -moz-box-shadow: 3px 3px 5px rgba(9, 9, 9, 0.8);
  -webkit-box-shadow: 3px 3px 5px rgba(9, 9, 9, 0.8);
  box-shadow: 3px 3px 5px rgba(9, 9, 9, 0.8);
}
.loginpg #loginbox:after {
  content: " ";
  display: block;
  clear: both;
}
.loginpg #loginbox h2 {
  font-family: "ABeeZee", sans-serif;
  color: #731c20;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
}
.loginpg #loginbox .loginset {
  margin-bottom: 20px;
}
.loginpg #loginbox .loginset label {
  display: block;
  font-family: "Jacques Francois", serif;
  color: #731c20;
  font-size: 1.15rem;
}
.loginpg #loginbox .loginset input[type="text"],
.loginpg #loginbox .loginset input[type="password"] {
  outline: none;
  border: none;
  background: #731c20;
  color: #ffefd3;
  font-family: "ABeeZee", sans-serif;
  line-height: 150%;
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  width: 100%;
}
.loginpg #loginbox .loginset textarea {
  background: #731c20;
  font-family: "ABeeZee", sans-serif;
  color: #ffefd3;
  font-size: 1.1rem;
  line-height: 120%;
  padding: 10px;
  resize: none;
  display: block;
  outline: none;
  border: none;
  width: 100%;
}
.loginpg #loginbox input[type="submit"] {
  outline: none;
  border: #fff;
  background: #731c20;
  color: #ffefd3;
  font-family: "ABeeZee", sans-serif;
  padding: 10px 20px;
  font-size: 1.12rem;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
  display: block;
}

.edible-logoarea {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.edible-logoarea:after {
  content: " ";
  display: block;
  clear: both;
}
.edible-logoarea a img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
@media (min-width: 960px) {
  .edible-logoarea a img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
  }
}
.edible-logoarea .mainlogo {
  background: rgba(115, 28, 32, 0.8);
}
@media (min-width: 960px) {
  .edible-logoarea .menubutton {
    display: none;
  }
}
.edible-logoarea .edible-menu {
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-top: 5px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  background: #fff;
  font-family: "ABeeZee", sans-serif;
  max-height: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.edible-logoarea .edible-menu ul li {
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted #731c20;
}
.edible-logoarea .edible-menu ul li:last-child {
  border-bottom: none;
}
.edible-logoarea .edible-menu ul li a {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  line-height: 250%;
  width: 100%;
  text-decoration: none;
  color: #731c20;
  font-weight: bold;
  display: block;
}
.edible-logoarea .edible-menu ul li a:hover {
  background: #731c20;
  color: #ffefd3;
}
.edible-logoarea .edible-menu.open {
  max-height: 250px;
}
@media (min-width: 960px) {
  .edible-logoarea .edible-menu {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    margin-left: 33.33333%;
    position: absolute;
    bottom: 0;
    max-height: none;
  }
  .edible-logoarea .edible-menu ul li {
    float: left;
    width: 20%;
    border: none;
  }
  .edible-logoarea .edible-menu ul li a {
    border-right: 1px dotted #731c20;
  }
  .edible-logoarea .edible-menu ul li:last-child a {
    border-right: none;
  }
}
.edible-logoarea .usermenu {
  position: absolute;
  top: 0;
  right: 0;
}
.edible-logoarea .usermenu ul li {
  float: left;
  background: #fff;
}
.edible-logoarea .usermenu ul li a {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
  font-family: "ABeeZee", sans-serif;
  color: #731c20;
  line-height: 250%;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}
.edible-logoarea .usermenu ul li a:hover {
  background: #731c20;
  color: #ffefd3;
}

.cmspg {
  min-height: 80vh;
  position: relative;
  z-index: 5;
  background: #731c20;
  border-top: 5px solid #fff;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 960px) {
  .cmspg {
    background: rgba(115, 28, 32, 0.8);
  }
}
.cmspg:after {
  content: " ";
  display: block;
  clear: both;
}
.cmspg h2 {
  font-size: 2.5rem;
  color: #ffefd3;
  font-family: "ABeeZee", sans-serif;
  width: 100%;
  text-align: center;
}

.addbutton {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  margin-left: 16.66667%;
  background: #fff;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  .addbutton {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    margin-left: 33.33333%;
    margin-right: 33.33333%;
  }
}
.addbutton a {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #731c20;
  padding: 20px;
  display: block;
  text-decoration: none;
  border: 1px dotted transparent;
}
.addbutton a:hover {
  background: #731c20;
  color: #ffefd3;
  border-color: #fff;
}

#darkover {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#darkover.darken {
  visibility: visible;
  opacity: 1;
}

#popup {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  position: fixed;
  top: 200px;
  left: 0;
  background: white;
  z-index: 99;
  font-family: "ABeeZee", sans-serif;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  -moz-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  -webkit-transform: translateY(-300px);
  transform: translateY(-300px);
}
@media (min-width: 650px) {
  #popup {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    margin-left: 16.66667%;
  }
}
@media (min-width: 960px) {
  #popup {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-left: 25%;
  }
}
#popup .optionholder {
  overflow: hidden;
  text-align: center;
}
#popup .optionholder #deleteOpt {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#popup .optionholder #deleteOpt li {
  display: inline-block;
}
#popup .optionholder #deleteOpt li a {
  padding: 20px;
  background: #731c20;
  color: #ffefd3;
}
#popup.modaldown {
  visibility: visible;
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.itemlist {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  margin-left: 8.33333%;
}
.itemlist:before, .itemlist:after {
  content: '';
  display: table;
}
.itemlist:after {
  clear: both;
}
.itemlist li {
  color: #731c20;
  background: #fff;
  margin-bottom: 10px;
}
.itemlist li:before, .itemlist li:after {
  content: '';
  display: table;
}
.itemlist li:after {
  clear: both;
}
.itemlist li:last-child {
  border-bottom: none;
}
.itemlist li h3 {
  float: left;
  width: 70%;
  line-height: 250%;
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  color: #731c20;
  padding: 5px 0;
}
.itemlist li a {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: FontAwesome;
  display: block;
  width: 15%;
  line-height: 250%;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #731c20;
}
.itemlist li a:hover {
  background: #731c20;
  color: #ffefd3;
}
.itemlist li a:first-child {
  float: left;
  border-right: 1px dotted #731c20;
}
.itemlist li a:last-child {
  float: right;
  border-left: 1px dotted #731c20;
}

.cmspg.pageform {
  padding: 20px;
  font-family: "ABeeZee", sans-serif;
}
.cmspg.pageform .intro {
  color: #ffefd3;
  line-height: 130%;
  font-size: .875rem;
  margin-bottom: 20px;
}
.cmspg.pageform input[type="text"] {
  outline: none;
  border: none;
  background: #fff;
  color: #731c20;
  line-height: 150%;
  padding: 10px;
  display: block;
  width: 100%;
  font-family: "ABeeZee", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cmspg.pageform textarea {
  width: 100%;
  padding: 10px;
  font-family: "ABeeZee", sans-serif;
  color: #731c20;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
}
.cmspg.pageform label {
  font-family: "Jacques Francois", serif;
  font-size: 1.1rem;
  color: #ffefd3;
  line-height: 150%;
  display: block;
}
.cmspg.pageform .cmslabel {
  color: #ffefd3;
  font-size: .875rem;
  line-height: 130%;
}
.cmspg.pageform .formset {
  margin-bottom: 20px;
}
.cmspg.pageform .formset.nav:before, .cmspg.pageform .formset.nav:after {
  content: '';
  display: table;
}
.cmspg.pageform .formset.nav:after {
  clear: both;
}
.cmspg.pageform .formset.nav select {
  font-family: "ABeeZee", sans-serif;
  line-height: 150%;
  padding: 5px;
  background: #fff;
  color: #731c20;
  border: none;
  outline: none;
}
.cmspg.pageform .formset.nav select:first-of-type {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.cmspg.pageform .formset.nav select:last-of-type {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
}
.cmspg.pageform .formset.nav label:last-of-type {
  font-family: "ABeeZee", sans-serif;
  text-align: right;
  padding-right: 5px;
  font-size: .875rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
}
.cmspg.pageform input[type="submit"] {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: none;
  outline: none;
  background: #fff;
  border: 1px dotted transparent;
  color: #731c20;
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  font-family: "ABeeZee", sans-serif;
  margin-top: 10px;
  font-size: .875rem;
}
@media (min-width: 960px) {
  .cmspg.pageform input[type="submit"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    margin-left: 33.33333%;
  }
}
.cmspg.pageform input[type="submit"]:hover {
  background: #731c20;
  color: #ffefd3;
  border-color: #fff;
}
.cmspg.pageform .formerror {
  background: #ffefd3;
  color: #731c20;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}
.cmspg.pageform .icons:before, .cmspg.pageform .icons:after {
  content: '';
  display: table;
}
.cmspg.pageform .icons:after {
  clear: both;
}
.cmspg.pageform .icons .preview {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.cmspg.pageform .icons .preview input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 100px;
  line-height: 50px;
  padding: 5px;
  font-size: 4rem;
  background: none;
  color: #fff;
  font-family: FontAwesome;
}
.cmspg.pageform .icons .cmslabel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.cmspg.pageform .icons .icongrid {
  font-family: FontAwesome;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  margin-left: 8.33333%;
  height: 200px;
  overflow-y: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cmspg.pageform .icons .icongrid:before, .cmspg.pageform .icons .icongrid:after {
  content: '';
  display: table;
}
.cmspg.pageform .icons .icongrid:after {
  clear: both;
}
.cmspg.pageform .icons .icongrid .grid-icon {
  display: block;
  float: left;
  width: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  color: #fff;
  border: 1px solid #fff;
}
.cmspg.pageform .icons .icongrid .grid-icon.selected {
  color: #731c20;
  background: #fff;
}

.imguploadcontainer {
  max-width: 250px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.imguploadcontainer input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.addOptions-page .formset:before, .addOptions-page .formset:after {
  content: '';
  display: table;
}
.addOptions-page .formset:after {
  clear: both;
}
.addOptions-page .formset select {
  font-family: "ABeeZee", sans-serif;
  line-height: 150%;
  padding: 5px;
  background: #fff;
  color: #731c20;
  border: none;
  outline: none;
}
.addOptions-page .formset select:first-of-type {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.addOptions-page .formset select:last-of-type {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
}

.dashboard-page h1 {
  font-family: "Jacques Francois", serif;
  font-size: 3rem;
  color: #ffefd3;
  margin-bottom: 2em;
}
.dashboard-page h2 {
  font-size: 1.6rem;
}
.dashboard-page p {
  font-family: "ABeeZee", sans-serif;
  font-fize: 1rem;
  line-height: 160%;
  color: #ffefd3;
}
.dashboard-page .chart {
  margin-top: 1em;
  margin-bottom: 1em;
}
.dashboard-page .chartholder {
  margin-bottom: 1em;
}
.dashboard-page .intro {
  margin-bottom: 2em;
}
.dashboard-page .contentinner {
  padding: 1em;
}
@media (min-width: 960px) {
  .dashboard-page .visits {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}
@media (min-width: 960px) {
  .dashboard-page .sessions {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}
@media (min-width: 960px) {
  .dashboard-page .history {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    margin-left: 8.33333%;
  }
}

.pageform .calc {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: none;
  outline: none;
  background: #fff;
  border: 1px dotted transparent;
  color: #731c20;
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  font-family: "ABeeZee", sans-serif;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: .875rem;
}
@media (min-width: 960px) {
  .pageform .calc {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    margin-left: 33.33333%;
  }
}
.pageform .calc:hover {
  background: #731c20;
  color: #ffefd3;
  border-color: #fff;
}

@media (min-width: 960px) {
  .detailspg {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    margin-left: 16.66667%;
  }
}
.detailspg #detailsoverlay {
  background: #090909;
  color: #ffefd3;
  font-family: "ABeeZee", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 960px) {
  .detailspg #detailsoverlay {
    background: rgba(9, 9, 9, 0.8);
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    margin-left: 16.66667%;
  }
}
@media (min-width: 1140px) {
  .detailspg #detailsoverlay {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
  }
}
.detailspg #detailsoverlay .overlayinner {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.detailspg #detailsoverlay .overlayinner:after {
  content: " ";
  display: block;
  clear: both;
}
.detailspg #detailsoverlay .overlayinner h1 {
  font-size: 2rem;
  line-height: 140%;
  font-family: "Great Vibes", cursive;
  margin-bottom: 20px;
}
.detailspg #detailsoverlay .overlayinner img {
  margin-bottom: 20px;
}
.detailspg #detailsoverlay .overlayinner p {
  margin-bottom: 20px;
  line-height: 140%;
}
@media (min-width: 960px) {
  .detailspg .optionslist {
    width: 68%;
    margin-left: 31%;
  }
}
@media (min-width: 1140px) {
  .detailspg .optionslist {
    width: 77.8%;
    margin-left: 21%;
  }
}
.detailspg .optionslist .prod-option {
  background: #090909;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffefd3;
}
.detailspg .optionslist .prod-option h3 {
  font-family: "Jacques Francois", serif;
  font-size: 1.5rem;
  line-height: 150%;
}
.detailspg .optionslist .prod-option p {
  font-family: "ABeeZee", sans-serif;
  line-height: 120%;
  font-size: 1.1rem;
}
.detailspg .optionslist .prod-option img {
  width: auto;
  max-width: 200px;
  display: block;
  margin: 10px auto;
}
@media (min-width: 650px) {
  .detailspg .optionslist .prod-option {
    background: rgba(9, 9, 9, 0.8);
  }
  .detailspg .optionslist .prod-option:before, .detailspg .optionslist .prod-option:after {
    content: '';
    display: table;
  }
  .detailspg .optionslist .prod-option:after {
    clear: both;
  }
  .detailspg .optionslist .prod-option h3 {
    font-family: "Jacques Francois", serif;
    font-size: 1.5rem;
    line-height: 150%;
  }
  .detailspg .optionslist .prod-option p {
    font-family: "ABeeZee", sans-serif;
    line-height: 120%;
    font-size: 1.1rem;
  }
  .detailspg .optionslist .prod-option img {
    width: auto;
    float: left;
    margin: 10px;
  }
}
