@import url(http://fonts.googleapis.com/css?family=ABeeZee|Great+Vibes|Jacques+Francois|Jacques+Francois+Shadow);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("../images/headerbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 5px solid #731c20;
}

span.icon {
  font-family: FontAwesome;
}

img {
  width: 100%;
  max-width: 100%;
}

.contentinner .logopanel {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 10px solid #731c20;
  -moz-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  -webkit-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
}
.contentinner .logopanel:before, .contentinner .logopanel:after {
  content: '';
  display: table;
}
.contentinner .logopanel:after {
  clear: both;
}
@media (min-width: 960px) {
  .contentinner .logopanel {
    display: none;
    margin-top: 200px;
    padding: 50px;
    border: 10px solid #731c20;
    -moz-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
    -webkit-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
    box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    margin-left: 16.66667%;
  }
}
.contentinner .logopanel .mainlogo {
  width: 60%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 650px) {
  .contentinner .logopanel .mainlogo {
    width: 30%;
  }
}
@media (min-width: 960px) {
  .contentinner .logopanel .mainlogo {
    width: 100%;
  }
}

.sideNav {
  height: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  -moz-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
  visibility: hidden;
  z-index: 999;
}
@media (min-width: 960px) {
  .sideNav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    visibility: visible;
    z-index: auto;
  }
}

.pgcontent {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
@media (min-width: 960px) {
  .pgcontent {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    margin-left: 16.66667%;
  }
}
.pgcontent .contentinner {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
.pgcontent .contentinner:after {
  content: " ";
  display: block;
  clear: both;
}

.sideNav {
  background: #fff;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -moz-box-shadow: #090909 0px 8px 12px;
  -webkit-box-shadow: #090909 0px 8px 12px;
  box-shadow: #090909 0px 8px 12px;
}
.sideNav:hover {
  background: white;
}
.sideNav .navinner {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .sideNav {
    background: rgba(255, 255, 255, 0.8);
  }
}
.sideNav .slimScrollDiv {
  margin-top: 200px;
}
.sideNav .slimScrollDiv .side-nav {
  font-family: "Jacques Francois", serif;
}
.sideNav .slimScrollDiv .side-nav li {
  width: 100%;
}
.sideNav .slimScrollDiv .side-nav li a {
  width: 100%;
  line-height: 400%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #090909;
  color: #090909;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.sideNav .slimScrollDiv .side-nav li a:hover {
  background: #731c20;
  color: #fff;
}
.sideNav .slimScrollDiv .side-nav li:last-child a {
  border-bottom: none;
}
.sideNav .slimScrollDiv .side-nav li .submenu {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  width: 100%;
  -moz-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
  visibility: hidden;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.sideNav .slimScrollDiv .side-nav li .subout {
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  -moz-box-shadow: 3px 0 12px rgba(9, 9, 9, 0.8);
  -webkit-box-shadow: 3px 0 12px rgba(9, 9, 9, 0.8);
  box-shadow: 3px 0 12px rgba(9, 9, 9, 0.8);
}

.subvisible {
  background: #fff;
}
.subvisible .side-nav li a {
  border-color: transparent;
}

.homepg {
  position: relative;
}
@media (min-width: 960px) {
  .homepg .logopanel {
    display: block;
  }
}
.homepg .homemenu {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
@media (min-width: 960px) {
  .homepg .homemenu {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 450px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    margin-left: 16.66667%;
  }
  .homepg .homemenu:before, .homepg .homemenu:after {
    content: '';
    display: table;
  }
  .homepg .homemenu:after {
    clear: both;
  }
}
.homepg .homemenu .menuitem {
  text-decoration: none;
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -moz-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  -webkit-box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  box-shadow: 6px 6px 10px rgba(9, 9, 9, 0.5);
  position: relative;
  border-bottom: 8px solid #731c20;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 30px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.homepg .homemenu .menuitem:last-child:nth-child(odd) {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
@media (min-width: 0) and (max-width: 960px) {
  .homepg .homemenu .menuitem {
    opacity: 1;
    z-index: auto;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  .homepg .homemenu .menuitem {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 5px 0;
    text-align: left;
  }
}
@media (min-width: 960px) {
  .homepg .homemenu .menuitem {
    border: 8px solid #731c20;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.homepg .homemenu .menuitem span.icon {
  font-size: 3rem;
  color: #311514;
}
@media (min-width: 650px) and (max-width: 960px) {
  .homepg .homemenu .menuitem span.icon {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    float: left;
    font-size: 6rem;
  }
}
@media (min-width: 960px) {
  .homepg .homemenu .menuitem span.icon {
    float: none;
    font-size: 20rem;
    margin-top: -150px;
    display: block;
    color: #731c20;
    text-shadow: 3px 3px 5px #000;
  }
}
.homepg .homemenu .menuitem .infogroup {
  margin-top: 10px;
}
@media (min-width: 650px) and (max-width: 960px) {
  .homepg .homemenu .menuitem .infogroup {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    float: right;
  }
}
@media (min-width: 960px) {
  .homepg .homemenu .menuitem .infogroup {
    float: none;
  }
}
.homepg .homemenu .menuitem .infogroup h2 {
  font-family: "Jacques Francois", serif;
  color: #311514;
  font-size: 1.3rem;
  line-height: 140%;
}
@media (min-width: 960px) {
  .homepg .homemenu .menuitem .infogroup h2 {
    font-family: "Jacques Francois Shadow", cursive;
    font-size: 4rem;
  }
}
.homepg .homemenu .menuitem .infogroup p {
  display: none;
}
@media (min-width: 650px) {
  .homepg .homemenu .menuitem .infogroup p {
    display: block;
    color: #311514;
    margin-top: 10px;
    font-family: "ABeeZee", sans-serif;
    font-size: .9rem;
    line-height: 140%;
  }
}
.homepg .hideme {
  opacity: 0;
  z-index: auto;
}
.homepg .showme {
  opacity: 1;
  z-index: 50;
}

.locationspg #hook {
  height: 100px;
  width: 200px;
}
.locationspg img[src*="gstatic.com/"], .locationspg img[src*="googleapis.com/"] {
  max-width: none;
}

.aboutpg #aboutoverlay {
  background: #090909;
  color: #ffefd3;
  font-family: "ABeeZee", sans-serif;
}
@media (min-width: 960px) {
  .aboutpg #aboutoverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    margin-left: 16.66667%;
  }
}
.aboutpg #aboutoverlay .overlayinner {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.aboutpg #aboutoverlay .overlayinner:after {
  content: " ";
  display: block;
  clear: both;
}
.aboutpg #aboutoverlay .overlayinner h3 {
  font-size: 1.6875rem;
  line-height: 140%;
  font-style: italic;
  margin-bottom: 20px;
}
.aboutpg #aboutoverlay .overlayinner p {
  margin-bottom: 20px;
  line-height: 140%;
}

.templatepg {
  background: rgba(255, 255, 255, 0.8);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -moz-box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  -webkit-box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  box-shadow: 6px -6px 10px rgba(9, 9, 9, 0.5);
  font-size: 1rem;
  line-height: 140%;
  font-family: "ABeeZee", sans-serif;
  position: relative;
}
@media (min-width: 960px) {
  .templatepg {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 5px solid #731c20;
  }
}
.templatepg .logopanel {
  margin-bottom: 10px;
}
.templatepg .usercontent {
  position: relative;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.templatepg .usercontent:after {
  content: " ";
  display: block;
  clear: both;
}
.templatepg .usercontent span.icon {
  font-size: 15rem;
  line-height: 15rem;
  color: #731c20;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  opacity: .15;
}
@media (min-width: 960px) {
  .templatepg .usercontent span.icon {
    opacity: 1;
    font-size: 8rem;
    position: fixed;
    line-height: 8rem;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.3);
    top: 20px;
    right: 125px;
  }
}
.templatepg .usercontent .textcontent {
  z-index: 5;
}
.templatepg .usercontent .textcontent h1 {
  font-family: "Jacques Francois", serif;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
@media (min-width: 960px) {
  .templatepg .usercontent .textcontent h1 {
    font-family: "Jacques Francois Shadow", cursive;
  }
}
.templatepg .usercontent .textcontent p {
  margin-bottom: 20px;
}
